<!DOCTYPE html>
<html>
  <head>
    <title>Question Amnesia</title>
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div style="background-color: #f1f3f4">
      <div class="container">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#"></a>
            </div>
            <ul
              class="nav navbar-nav navbar-right"
              style="flex-direction: row; align-items: center"
            >
              <li>
                <p style="margin: 0; font-size: 2rem; font-weight: 600">
                  Total Point : <%= point %>
                </p>
              </li>
              <li></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <!-- ================ -->
    <div style="width: 100%; display: flex; justify-content: center">
      <div
        class="p_container"
        style="display: flex; flex-direction: column; align-items: center"
      >
        <h1 style="margin-top: 2rem; color: #01b379; text-align: center;">Daily Amnesia Quiz</h1>
        <h4 style="margin-bottom: 2rem"><%= date %></h4>
        <% if (status==1 || status==2) { %>
        <div style="margin-bottom: 2rem; border: 1px solid #DADCE0; display: flex; align-items: center; justify-content: center; padding: 1rem 2rem;">
          <h4 style="text-align: center; font-weight: 400;">
            <%= message %>
          </h4>
        </div>
        <% } %> <% if (status==3) { %>
        <div class="q-container my-1">
          <div class="question">
            <div class="py-2">
              <p style="font-weight: 600">
                <span style="color: #01b379; font-weight: 700">Q :</span>
                <%= q?.ques %>
              </p>
            </div>
            <div class="" id="options">
              <form>
                <div class="input_group">
                  <input
                    id="a-radio"
                    value="<%= q?.options?.a %>"
                    type="radio"
                    name="radio"
                  />
                  <label class="options"> <%= q?.options?.a %> </label>
                </div>
                <!-- <span class="checkmark"></span> -->
                <div class="input_group">
                  <input
                    value="<%= q?.options?.b %>"
                    id="b-radio"
                    type="radio"
                    name="radio"
                  />
                  <label class="options"><%= q?.options?.b %> </label>
                </div>
                <div class="input_group">
                  <input
                    value="<%= q?.options?.c %>"
                    id="c-radio"
                    type="radio"
                    name="radio"
                  />
                  <label value="<%= q?.options?.c %>" class="options"
                    ><%= q?.options?.c %>
                  </label>
                </div>
                <div class="input_group">
                  <input
                    value="<%= q?.options?.d %>"
                    id="d-radio"
                    type="radio"
                    name="radio"
                  />
                  <label value="<%= q?.options?.d %>" class="options"
                    ><%= q?.options?.d %>
                  </label>
                </div>
              </form>
            </div>
          </div>
          <div class="d-flex align-items-center pt-3">
            <div class="ml-auto mr-sm-5" style="text-align: center">
              <button
                onclick="submitForm(event, '<%= JSON.stringify(q) %>', '<%= userId %>')"
                class="btn btn-success submit-btn"
                style="background-color: #01b379 !important; border: none"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
        <% } %>
      </div>

    </div>

    <!-- Button trigger modal -->
    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div> -->
          <div class="modal-body">
            <h3 id="ans_head"></h3>
            <!-- <h5 id="congress" style="margin: 0;"></h5> -->
            <p id="ans_title"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ok</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
   
   <script>
      function submitForm(event, qData, userId) {
        event.preventDefault();

        const q = JSON.parse(qData);

        // console.log("event is : ", event)
        // console.log("q is : ", q)

        const aRadio = document.getElementById("a-radio");
        const bRadio = document.getElementById("b-radio");
        const cRadio = document.getElementById("c-radio");
        const dRadio = document.getElementById("d-radio");

        let selectedValue;

        if (aRadio.checked) {
          selectedValue = aRadio.value;
        } else if (bRadio.checked) {
          selectedValue = bRadio.value;
        } else if (cRadio.checked) {
          selectedValue = cRadio.value;
        } else if (dRadio.checked) {
          selectedValue = dRadio.value;
        }

        const data = {
          user_id: userId,
          question_no: q?.id,
          question: q?.ques,
          correct_ans: q?.ans,
          user_ans: selectedValue,
        };

        // console.log("data is : ", data);

        fetch("/save_quiz", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then((response) => response.json())
          .then((res) => {
            console.log("response is : ", res);
            function showModal() {

            document.getElementById("ans_head").innerHTML = res.message;
            if(res.status == 2){
              document.getElementById("ans_title").innerHTML = `Correct answer is : <strong>${res.correct}</strong>`;
            }else if(res.status ==1){
              document.getElementById("ans_title").innerHTML = "Your answer is correct";
            }

            var modalElement = document.getElementById('exampleModal');
            var modal = new bootstrap.Modal(modalElement);
            modal.show();
            }

            showModal();

            $('#exampleModal').on('hidden.bs.modal', function () {
                 // Code to run after the modal is closed
              console.log('Modal has been closed');
               window.location.href = "/";
            })

            // window.location.href = "/";
            // Handle response
          })

          .catch((error) => {
            console.error(error);
            // Handle error
          });
      }
    </script>
  </body>
</html>
